# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json
site_name: FRC 中文 Wiki
site_url: https://wiki.firstrobotics.com.cn
site_author: FRC 中文 Wiki 项目组
site_description: FRC 中文 Wiki 是一个由中国 FRC 社区维护的 FRC 中文知识库。

repo_name: FRC-China/FRC-Wiki
repo_url: https://github.com/FRC-China/FRC-Wiki

nav:
  - 关于本站:
      - 主页: index.md
      - 共同宗旨: start/commons.md
      - 如何使用本项目: start/usage.md
      - 如何参与: start/contribute.md
      - FAQ: start/faq.md
      - 致谢: start/acknowledgement.md
  - FRC 简介:
      - 比赛内容: intro/content.md
      - 比赛历史: intro/history.md
      - 资源: intro/resources.md
  - 机械结构:
      - 结构概述: structure/overview.md
      - 底盘: structure/chassis.md
      - 材料: structure/material.md
  - 电控系统:
      - 电控概述: electronics/overview.md
  - 程序:
      - 程序概述: programming/overview.md
      - Git 版本控制: programming/git-basics.md
      - Java 基础: programming/java-basics.md
  - 最佳实践:
        - 概述: best-practices/overview.md

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - toc:
      permalink: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite:
  - pymdownx.snippets:
  - admonition:
  - pymdownx.details:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

theme:
  name: material
  language: zh
  palette:
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  features:
    - navigation.tabs
    - search.suggest
    - navigation.footer

plugins:
  - minify:
      minify_html: true
      minify_js: true
      minify_css: true
      htmlmin_opts:
        remove_comments: true
      cache_safe: true

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

copyright: Copyright &copy; 2023 FRC China Wiki Team
