# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json
site_name: FRC 中文 Wiki
site_url: https://wiki.firstrobotics.com.cn
site_author: FRC China 项目组
site_description: FRC 中文 Wiki 是一个由 FRC China 项目组维护的 FRC 中文知识库。

repo_name: FRC-China/FRC-Wiki
repo_url: https://github.com/FRC-China/FRC-Wiki

nav:
  - 关于本站:
      - 主页: index.md
      - 共同宗旨: start/commons.md
      - 如何使用本项目: start/usage.md
      - 如何参与: start/contribute.md
      - 版权和引用: start/copyright.md
      - FAQ: start/faq.md
      - 致谢: start/acknowledgement.md
  - FRC 简介:
      - 比赛内容: intro/content.md
      - 比赛历史: intro/history.md
      - 资源: intro/resources.md
  - 从零开始: 
      - 注册队伍: setup/register.md
      - 队伍管理: setup/management.md
  - 机械:
      - 结构概述: structure/overview.md
      - 底盘: structure/chassis.md
      - 材料: structure/material.md
  - 电控系统:
      - 电控概述: electronics/overview.md
  - 程序:
      - 程序概述: programming/overview.md
      - Java 基础: programming/java-basics.md
  - 工具和软件:
      - Git 版本控制: tools/git-basics.md
      - Autodesk Inventer 使用教程: tools/inventor.md
  - 最佳实践:
        - 概述: best-practices/overview.md
        - 2023年6940季后赛机器: 
          - 机器性能概述: best-practices/6940-2023offseason/overview.md
          - climber:
            - 概述: best-practices/6940-2023offseason/climber/intro.md
            - 结构设计: best-practices/6940-2023offseason/climber/structure.md
            - 代码设计: best-practices/6940-2023offseason/climber/code.md
          - hopper:
            - 概述: best-practices/6940-2023offseason/hopper/intro.md
            - 结构设计: best-practices/6940-2023offseason/hopper/structure.md
            - 代码设计: best-practices/6940-2023offseason/hopper/code.md
          - shooter:
            - 概述: best-practices/6940-2023offseason/shooter_and_hood/intro.md
            - 结构设计: best-practices/6940-2023offseason/shooter_and_hood/structure.md
            - 代码设计: best-practices/6940-2023offseason/shooter_and_hood/code.md


markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - toc:
      permalink: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite:
  - pymdownx.snippets:
  - admonition:
  - pymdownx.details:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

theme:
  name: material
  language: zh
  palette:
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  features:
    - navigation.tabs
    - search.suggest
    - navigation.footer
  logo: assets\icon-nobg.png
  favicon: assets\icon-nobg.png

plugins:
  - minify:
      minify_html: true
      minify_js: true
      minify_css: true
      htmlmin_opts:
        remove_comments: true
      cache_safe: true

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

copyright: Copyright &copy; 2023 <a href="https://github.com/FRC-China">FRC China Wiki Team</a> <br /> Licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> and <a href="https://github.com/zTrix/sata-license">SATA 2.0</a>
